.test/
**/.test/
.coverage
**/.coverage
.pytest_cache/
**/.pytest_cache/
.ruff_cache/
**/.ruff_cache/
.mypy_cache/
**/.mypy_cache/
.venv/
.legacy/
**/.env
**/.adk/
**/outputs/*
!**/outputs/.gitkeep
**/__pycache__/
**/coverage.xml
dist/
htmlcov/
*.egg-info/
